body{
    background-image: url("movies.jpg");
    
}
.triviaBox{
    background-image: url("triviaquestions.jpg");
    margin-top: 175px;
    height: 650px;
}
h1{
    font-family: 'Indie Flower', cursive;
    color: white;
}

.header{
    margin-top: 50px;

    
}

.multiple{
    height: 80px;
}

.Question{
    height: 50px;
}